<footer class="footer">
    <h1>QUÉ DEBES SABER <br><br></h1>
    <div class="footer-container">
        <div class="footer-section">
            <h3>REGLAS DE LA CASA</h3>
            <p>LLEGADA A PARTIR DE LAS 3:00 P.M.<br>
                SALIDA ANTES DE LAS 1:00 P.M.<br>
                NO SE ADMITEN MASCOTAS.</p>
            <a href="#" class="footer-link">SABER MÁS ></a>
        </div>
        <div class="footer-section">
            <h3>SEGURIDAD Y PROPIEDAD</h3>
            <p>NO HAY ALARMA DE HUMO.<br>
                ALBERCA/JACUZZI SIN REJA NI PUERTA CON LLAVE.<br>
                NO SE REQUIERE DETECTOR DE MONÓXIDO DE CARBONO.</p>
            <a href="#" class="footer-link">SABER MÁS ></a>
        </div>
        <div class="footer-section">
            <h3>POLÍTICA DE CANCELACIÓN</h3>
            <p>SI CANCELAS ANTES DE LA FECHA DE LLEGADA (5 ENE.), RECIBIRÁS UN REEMBOLSO PARCIAL.<br>
                PASADO ESE PLAZO, TU REEMBOLSO DEPENDERÁ DE CUÁNDO CANCELES.</p>
            <a href="#" class="footer-link">SABER MÁS ></a>
        </div>
    </div>

    <div class="footer-bottom">
        <p class="inspiration">INSPIRACIÓN PARA FUTURAS ESCAPADAS</p>
        <div class="bottom-content">
            <p class="discover">SIGUE DESCUBRIENDO LA CATEGORÍA DE LAS CABAÑAS</p>
            <button class="footer-button">CONTÁCTANOS</button>
        </div>
    </div>
</footer>
