.titulo-container {
  background-color: rgb(240, 238, 238);
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.titulo {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.subtitulo {
  margin: 0;
  font-size: 18px;
}

.contenido {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
  max-width: 1200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.imagenes {
  flex: 1;
  text-align: center;
  max-width: 600px;
  padding: 30px;
}

.imagen-principal {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.miniaturas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.miniatura {
  width: 100px;
  height: 70px;
  object-fit: cover;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.costos {
  flex: 1;
  background-color: rgb(240, 238, 238);
  padding: 50px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.label {
  color: orange;
  font-weight: bold;
  font-size: 16px;
  flex: 1;
  text-align: left;
}

.boton {
  background: none;
  border: 1px solid gray;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box {
  width: 30px;
  height: 30px;
  text-align: end;
  outline: none;
  font-size: 16px;
  background:none;
  border:none;
}

.extras {
  text-align: left;
}

.reservar {
  background-color: lightgray;
  border: none;
  padding: 15px;
  color: black;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.cuerpo {
  text-align: center;
  padding: 40px 0;
  background-color: white;
}

.info-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.info-item {
  text-align: center;
  max-width: 250px;
}

.info-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.info-item p {
  font-size: 14px;
  color: #555;
}

.estancias-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.estancias-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.estancia-card {
  background-color: rgb(240, 238, 238);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  max-width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.estancia-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.estancia-card h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.estancia-card p {
  font-size: 14px;
  color: #555;
}
